.imagenes {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.imagenes img {
    height: 200px;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}